footer {
	background:
		url('../assets/img/footer-top.svg') no-repeat,
		url('../assets/img/qbert.png') repeat;
	background-size:
		100%,
		auto;
	text-align: center;
	padding: 0 0 48px 0;
	margin-top: 48px;

	@include media($tablet) {
		padding-top: 48px;
	}
	@include media($laptop) {
		background:
			url('../assets/img/footer-top-laptop.svg') no-repeat,
			url('../assets/img/qbert.png') repeat;

			img {
				margin: 24px 0;
			}
	}

	h2 {
		color: $white;
		margin-top: 2rem;
    	margin-bottom: 2rem;
	}

	img {
		width: 50%;
	}

	a.button,
	a.button:visited {
		display: block;
		color: $white;
	}

	@include clearfloat();

	> div {
		margin-top: 2rem;
		@include span-columns(6);
		@include shift(3);

		@include media($tablet) {
			@include span-columns(4);
			@include shift(4);
		}
		@include media($laptop) {
			@include span-columns(3);
			@include shift(4.5);
		}

	}

}
