/* This file is for mostly grid, column span, position, and other general purpose layout utilities */

// Responsive & General Utilities
body, html {
	height: 100%;
}

.page-container {
	background-color: $white;
	padding-top: 46px;
	position: relative;
	z-index: 2;
}

.fullframe {
	width: 100%;
}

.mobile-only {
	@include media($tablet) {
		display: none !important;
	}
}

.not-mobile {
	display: none;
	@include media($tablet) {
		display: block;
	}
}

// Responsive Center Column
.grid-container {
	@include outer-container();
}

// Homepage

.intro {
	margin-bottom: 36px;
}

.intro > *,
.our-background > * {
	@include span-columns(10);
	@include shift(1);

	@include media($tablet) {
		@include span-columns(8);
		@include shift(2);
	};

	@include media($laptop) {
		@include span-columns(10);
		@include shift(1);
	}
};

.our-background img {
	width: 100%;
	margin-top: 24px;

	@include media($tablet) {
		margin-top: 48px;
		margin-bottom: 24px;
	}

	@include media($laptop) {
		@include span-columns(8 of 10);
		@include shift(1);
	}
}

.discipline {
	@include media($laptop) {
		@include span-columns(4);
		p {
			font-size: 1.1rem;
		}
	}
	@include media($desktop) {
		p {
			font-size: 1.4rem;
		}
	}
}

// Work Pages
.work {
	.small {
		@include span-columns(10);
		@include shift(1);

		@include media($tablet) {
			@include span-columns(8);
			@include shift(2);
		}

		@include media($laptop) {
			@include span-columns(10);
			@include shift(1);
		}
	}

	.text {
		@include span-columns(10);
		@include shift(1);

		@include media($tablet) {
			@include span-columns(8);
			@include shift(2);
		}
	}

	.medium {
		width: 100%;

		@include media($tablet) {
			@include span-columns(10);
			@include shift(1);
		}

		@include media($laptop) {
			@include span-columns(12);
			@include shift(0);
		}
	}

	blockquote {
		margin: 0;
		@include span-columns(10);
		@include shift(1);

		@include media($tablet) {
			@include span-columns(4);
			@include shift(1);
		}

		@include media($laptop) {
			@include shift(0);
		}
	}

	.quote-container {
		@include span-columns(12);
		h1, h2, p {
			@include span-columns(10 of 12);
			@include shift(1);

			@include media($tablet) {
				@include span-columns(8 of 12);
				@include shift(2);
			}

			@include media($laptop) {
				@include span-columns(10 of 12);
				@include shift(1);
			}
			float: none !important;
		}
	}
}
