// Include when you need a parent to contain a floated child
@mixin clearfloat() {
	&:after {
			content: '';
			display: block;
			clear: both;
		}
}

// Graphic styles for a button
@mixin button() {
	background-color: $cpink;
	border-radius: 4px;
	text-align: center;
	font-size: $fs-2;
	font-weight: 400;
	color: $white;
	padding: 12px 27px;
	display: block;
	margin: 16px 0 32px;
	@include media($laptop) {
		display: inline-block;
		padding: 12px 36px;
		font-size: $fs-3;
	}
}

@mixin thumbtitles() {
	h2 {
		color: white;
		z-index: 1;
		position: relative;
		font-size: 1.1rem;
		@include media($tablet) {
			font-size: 1.45rem;
		}
		@include media($laptop) {
			margin-left: -2.2rem;
		}
		span {
			display: table;
			margin: 0 0 0.4rem 0;
			padding: 0.3rem 0.9rem;
			background-color: $cpink;
			&.green { background-color: $cgreen };
			&.blue { background-color: $cblue };
			@include media($tablet) {
				margin-bottom: .6rem
			}
		}
	}
}

.button {
	@include button();
}

.none {
	display: none;
}
