@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,600);

body {
	font-family: "Source Sans Pro", "Sans";
	font-weight: 200;
}

a {
	text-decoration: none;
	color: $black;
	.text & {
		border-bottom: 1px dotted $grey;
	}
}

a:visited {
	color: $grey;
}

#work a:visited {
	color: $black;
}

a.button:visited {
	color: white;
}

.phone {
	color: white;
	font-weight: 800
}

a.button.casestudies {
	margin-top: 64px;
	max-width: 15rem;
	margin-left: auto;
	margin-right: auto;
	display: block;
	@include media($laptop) {
		max-width: 22rem;
	}
}

h1 {
	font-size: 2.5rem;
    font-weight: 200;
    line-height: 114%;
	@include media($laptop) {
		font-size: 3.3rem;
	}
	@include media($desktop) {
		font-size: 4.2rem;
	}
}

#intro h1 {
	margin-top: 6rem;
	margin-bottom: 3rem;
	@include media($laptop) {
		text-align: center;
	}
}

h2 {
	font-size: $fs-4;
	font-weight: 600;
	line-height: 26px;
	margin-top: 0;
	margin-bottom: 0;
	@include media($tablet) {
		font-size: 1.7rem;
		line-height: 140%;
	}
	@include media($desktop) {
		font-size: 2.2rem;
	}
}

p {
	font-size: 1.1rem;
	margin-top: 0.6rem;
	line-height: 149%;
	@include media($tablet) {
		font-size: 1.5rem;
	}
	@include media($desktop) {
		font-size: 1.7rem;
		line-height: 158%;
	}
}

blockquote {
	font-size: 1.4rem;
    line-height: 145%;

	@include media($tablet) {
		margin-top: 43px;
    	margin-right: 46px !important;
	}

	@include media($laptop) {
		font-size: 1.7rem;
		border-left: 2rem solid $cblue;
		border-radius: 3rem;
		padding-left: 2rem;
	}
	@include media($desktop) {
		font-size: 2.2rem;
	}
	.author {
		font-size: 1.2rem;
		display: block;
	}

}

.work {
	.text,
	.quote-container {
		margin-top: 2rem;
		margin-bottom: 2rem;
		@include media($laptop) {
			margin-bottom: 4rem;
			margin-top: 6rem;
		}
		@include media($desktop) {
			margin-bottom: 6rem;
			margin-top: 6rem;
		}
		&:first-child {
			margin-top: 0;
		}
	}

	blockquote {
		margin-bottom: 2rem;
		@include media($laptop) {
			margin-bottom: 4rem;
		}
		@include media($desktop) {
			margin-bottom: 6rem;
		}
	}
}
