// Colors
$tray-gray: #EEEEEE;
$grey: #9B9B9B;
$black: #262626;
$blacker: #000;
$white: #FFF;

$cblue: #5CC5CF;
$cpink: #DB208E;
$cgreen: #8BC53F;

// Font Sizes
$fs-1: 12px;
$fs-2: 14px;
$fs-3: 18px;
$fs-4: 20px;
$fs-5: 24px;
$fs-6: 36px;

//Nav
$topbar-height: 6.3rem;
