/* ************** 
Script Name..: admin.css
Date Created.: Unknown
Copyright....: Enrollment123.com, 2016-present
Author.......: Unknown
Description..: CSS for enrollment123 site
************** */


/* Revison history */
/* 
01/30/2019 - ejacobs: SUPPORT-12325: Removed background-color from resultsTable td to better support tr hover.
06/15/2018 - hartman: Added max-width to select[name="reportId"]
05/31/2018 - ejacobs: Added resultsTable classes for standard listing tables.
08/23/2017 - hartman: Addes CSS color for any input children of .dateFromTo
*/

body {margin: 0; background-color: #ffffff; font: 12px Arial, Helvetica, sans-serif; color: #000000;}

a {text-decoration: none; color: #336699;}
a:link {text-decoration: none; color: #336699;}
a:visited {text-decoration: none; color: #336699;}
a:hover {text-decoration: underline; color: #336699;}
a:active {text-decoration: none; color: #336699;}

a.tree {text-decoration: none; color: #000000;}
a.tree:link {text-decoration: none; color: #000000;}
a.tree:visited {text-decoration: none; color: #000000;}
a.tree:hover {text-decoration: underline; color: #000000;}
a.tree:active {text-decoration: none; color: #000000;}

a.memlist {text-decoration: none; color: #000000;}
a.memlist:link {text-decoration: none; color: #000000;}
a.memlist:visited {text-decoration: none; color: #000000;}
a.memlist:hover {text-decoration: underline; color: #000000;}
a.memlist:active {text-decoration: none; color: #000000;}

a.option {font-size: 10px; font-weight: normal; text-decoration: none; color: #333333;}
a.option:link {text-decoration: none; color: #333333;}
a.option:visited {text-decoration: none; color: #333333;}
a.option:hover {text-decoration: underline; color: #333333;}
a.option:active {text-decoration: none; color: #333333;}

a.product {text-decoration: none; color: #000000;}
a.product:link {text-decoration: none; color: #000000;}
a.product:visited {text-decoration: none; color: #000000;}
a.product:hover {text-decoration: underline; color: #000000;}
a.product:active {text-decoration: none; color: #000000;}

a.productAdd {text-decoration: none; color: #336699;}
a.productAdd:link {text-decoration: none; color: #336699;}
a.productAdd:visited {text-decoration: none; color: #336699;}
a.productAdd:hover {text-decoration: underline; color: #336699;}
a.productAdd:active {text-decoration: none; color: #336699;}

a.formClick {text-decoration: none; color: #000000; cursor:pointer;}
a.formClick:link {text-decoration: none; color: #000000; cursor:pointer;}
a.formClick:visited {text-decoration: none; color: #000000; cursor:pointer;}
a.formClick:hover {text-decoration: underline; color: #000000; cursor:pointer;}
a.formClick:active {text-decoration: none; color: #000000; cursor:pointer;}

.columnOn {font-size: 11px; font-weight: bold; text-decoration: none; color: #333333; background-color: #dddddd;}
.column {font-size: 11px; font-weight: bold; text-decoration: none; color: #333333; background-color: #f3f3f3;}
a.column {font-size: 11px; font-weight: bold; text-decoration: none; color: #333333;}
a.column:link {text-decoration: none; color: #333333;}
a.column:visited {text-decoration: none; color: #333333;}
a.column:hover {text-decoration: underline; color: #333333;}
a.column:active {text-decoration: none; color: #333333;}

.navrollover {text-decoration: none; color: #fff; font-size: 11px;}
a.navrollover:link {text-decoration: none; color: #fff;}
a.navrollover:visited {text-decoration: none; color: #fff;}
a.navrollover:hover {text-decoration: underline; color: #fff;}
a.navrollover:active {text-decoration: none; color: #fff;}

.inlinerollover {text-decoration: none; font-size: 11px;}
a.inlinerollover:link {text-decoration: none;}
a.inlinerollover:visited {text-decoration: none; }
a.inlinerollover:hover {text-decoration: underline;}
a.inlinerollover:active {text-decoration: none;}

.prodrollover {text-decoration: none; color: #000; font-size: 11px;}
span.prodrollover:link {text-decoration: none; color: #000;}
span.prodrollover:visited {text-decoration: none; color: #000;}
span.prodrollover:hover {text-decoration: underline; color: #000;}
span.prodrollover:active {text-decoration: none; color: #000;}

/* The wider the #list_wrapper is, the more columns will fit in it */
#tree_wrapper{
    width: 100%;
    font-size: 14px;
    display:inline;
}

#tree_columns{
    text-align: left;
    float: left;
    list-style: none;
    padding: 10px 10px 4px 10px;
    margin: 0px;
    border-right: 1px solid #CCC;
    border-top: 1px solid #CCC;
    border-bottom: 0px solid #CCC;
    line-height: 20px;
    font-size: 12px;
    }

#tree_columns_combo{
    text-align: left;
    float: left;
    list-style: none;
    padding: 10px 10px 4px 10px;
    margin: 0px;
    border-right: 1px solid #CCC;
    border-top: 1px solid #CCC;
    border-bottom: 0px solid #CCC;
    line-height: 20px;
    font-size: 12px;
    }

#tree_columns_noborder {
    text-align: left;
    float: left;
    list-style: none;
    padding: 8px 5px 4px 5px;
    margin: 0px;
    border-right: 0px solid #CCC;
    border-top: 1px solid #CCC;
    border-bottom: 0px solid #CCC;
    line-height: 20px;
    font-size: 12px;
    }



.button {
	border: 1px solid;
	font-size: 12px;
	font-weight: normal;
	background-repeat: repeat-x;
	background-position: top;
	padding-bottom: 2px;
	padding-top: 1px;
	vertical-align: middle;
	border-color: #abc3d7;
	background-color: #ecf1f4;
	color: #000;
	background-image: url(/images/bgBtn.gif);
	vertical-align: middle;
	cursor:pointer;
	height: 24px;
	-webkit-border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
}

.btnGroupLeft {
	border: 1px solid;
	font-size: 12px;
	font-weight: normal;
	background-repeat: repeat-x;
	background-position: top;
	padding-bottom: 2px;
	padding-top: 1px;
	border-color: #abc3d7;
	background-color: #ecf1f4;
	color: #000;
	background-image: url(/images/bgBtn.gif);
	vertical-align: middle;
	display:inline;
	cursor:pointer;
	height: 22px;
	-webkit-border-radius: 2px 0px 0px 2px;
	-moz-border-radius: 2px 0px 0px 2px;
	border-radius: 2px 0px 0px 2px;
	box-sizing: border-box;
	margin-right: 0px;
	margin-top: 1px;
}

.btnGroupCenter {
	border: 1px solid;
	border-left: none;
	font-size: 12px;
	font-weight: normal;
	background-repeat: repeat-x;
	background-position: top;
	padding-bottom: 2px;
	padding-top: 1px;
	border-color: #abc3d7;
	background-color: #ecf1f4;
	color: #000;
	background-image: url(/images/bgBtn.gif);
	vertical-align: middle;
	display:inline;
	cursor:pointer;
	height: 22px;
	width: 28px;
	-webkit-border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	box-sizing: border-box;
	margin-left: 0px;
	margin-right: 0px;
}

.btnGroupRight {
	border: 1px solid;
	border-left: none;
	font-size: 12px;
	font-weight: normal;
	background-repeat: repeat-x;
	background-position: top;
	padding-bottom: 0px;
	padding-top: 2px;
	border-color: #abc3d7;
	background-color: #ecf1f4;
	color: #000;
	background-image: url(/images/bgBtn.gif);
	vertical-align: middle;
	display:inline;
	cursor:pointer;
	height: 22px;
	width: 28px;
	-webkit-border-radius: 0px 2px 2px 0px;
	-moz-border-radius: 0px 2px 2px 0px;
	border-radius: 0px 2px 2px 0px;
	box-sizing: border-box;
	margin-left: 0px;
}


.buttonOn, .button:hover, .button:focus, .buttonOn:focus, .btnGroupLeft:hover, .btnGroupCenter:hover, .btnGroupRight:hover, .btnGroupLeft:focus, .btnGroupCenter:focus, .btnGroupRight:focus {
	border: 1px solid;
	color: #fff;
	background-image: none;
	cursor:pointer;
	font-size: 12px;
	font-weight: normal;
	background-color: #4e8ccf;
	border-color: #4e8ccf;
	outline: none;
}

.button[disabled] {
	border-color: #c1c1c1;
	background-color: #f0f0f0;
	color: #000;
	background-image: url(/images/bgBtnGray.gif);
}

#buttonLink {
	border: 1px solid #abc3d7;
	font-size: 12px;
	font-weight: normal;
	background-repeat: repeat-x;
	background-position: top;
	padding: 3px 7px 3px 7px;
	vertical-align: middle;
	background-color: #ecf1f4;
	color: #000;
	background-image: url(/images/bgBtn.gif);
	vertical-align: middle;
	display:inline;
	cursor:pointer;
	margin: 0px 1px 0px 1px;
	height: 26px;
	-webkit-border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
	text-decoration: none;
}

#buttonLink:hover {
	border: 1px solid;
	color: #fff;
	background-image: none;
	cursor:pointer;
	font-size: 12px;
	font-weight: normal;
	background-color: #4e8ccf;
	border-color: #4e8ccf;
	cursor:pointer;
	text-decoration: none;
}

#buttonLink:hover A {
	color: #fff;
	text-decoration: none;
}


.buttonLink2 {
	border: 1px solid #abc3d7;
	font-size: 12px;
	font-weight: normal;
	background-repeat: repeat-x;
	background-position: top;
	padding: 4px 7px 4px 7px;
	vertical-align: middle;
	background-color: #ecf1f4;
	color: #000;
	background-image: url(/images/bgBtn.gif);
	vertical-align: middle;
	display:inline;
	cursor:pointer;
	margin: 0px 1px 0px 1px;
	height: 26px;
	text-decoration: none;
}

.buttonLink2:hover {
	border: 1px solid;
	color: #fff;
	background-image: none;
	cursor:pointer;
	font-size: 12px;
	font-weight: normal;
	background-color: #4e8ccf;
	border-color: #4e8ccf;
	cursor:pointer;
	text-decoration: none;
}

.buttonLink2:hover A {
	color: #fff;
	text-decoration: none;
}


a.buttonLink {text-decoration: none; color: #000;}
a.buttonLink:link {text-decoration: none; color: #000;}
a.buttonLink:visited {text-decoration: none; color: #000;}
a.buttonLink:hover {text-decoration: none; color: #ffffff;}
a.buttonLink:active {text-decoration: none; color: #000;}

.buttonBg {border-top : 1px solid #878787; padding: 7px 5px 10px 0px; background: #ffffff;}
.buttonBgColor {border-top : 1px solid #878787; border-bottom : 1px solid #878787; border-right : 0px solid #cccccc; border-left : 0px solid #ffffff; padding: 6px 5px 6px 5px; background: #F0DBDB;}
.rowBg {border-top : 1px solid #cccccc; border-bottom : 0px solid #878787; border-right : 0px solid #878787; border-left : 0px solid #878787; color: #787878; font-size: 13px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; padding: 5px 5px 6px 15px; background: #ffffff;}
.rowBg2 {border-top : 1px solid #cccccc; border-bottom : 0px solid #878787; border-right : 0px solid #878787; border-left : 0px solid #878787; color: #787878; font-size: 13px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; padding: 5px 5px 6px 15px; background: #eee;}


.user {border-style:solid;border-width:1px;color:#000;font-weight:normal;margin:0 0 15px 0;padding:6px 10px;text-align:left;}
.user {background:#dfd;border-color:#9f9;}

.work-list {background:#f8fafc;border-color:#3892d2;border-style:solid;border-width:1px;color:#000;margin:3px 0 0px 0;}
.work-list TD {font-size:12px;}
.work-list IMG {vertical-align:text-bottom;}

.myinfo-head {font-size:11px;color:#000000;font-weight:bold;padding:3px 6px 3px 6px;}
.myinfo-data {font-size:12px;padding:7px 0px 3px 0px;}
.myinfo-date {font-size:12px;padding:7px 6px 3px 7px;}
.myinfo-space {font-size:7px;padding:0;height:7px;}
.myinfo-date-small {font-size:11px;color:#777777;}

/* messages */
.info, .confirm, .warning, .alert {border-style:solid;border-width:1px;color:#000;font-weight:bold;margin:0 0 0 0;padding:6px 10px;text-align:left;}
.info ul, .confirm ul, .warning ul, .alert ul {font-weight:normal;list-style:none;margin:0;padding:0;}
.info li, .confirm li, .warning li, .alert li {list-style:none;padding:4px 0 4px 22px;}
.info {background:#f8fafc;border-color:#3892d2;}
.info li {background:url(../images/icon-info.gif) 0 4px no-repeat;}
.confirm {background:#dfd;border-color:#9f9;}
.confirm li {background:url(../images/icon-confirm.gif) 0 4px no-repeat;}
.warning {background:#fff6bf;border-color:#ffd324;}
.warning li {background:url(../images/icon-alert.gif) 0 4px no-repeat;}
.alert {background:#fee;border-color:Red;color:Red;}
.alert li {background:url(../images/icon-warning.gif) 0 4px no-repeat;}

.numbers {border-style:solid;border-width:1px 1px 0 1px;color:#000;font-weight:normal;margin:0 0 0 0;padding:6px 10px;text-align:left;}
.numbers {background:#f8fafc;border-color:#cccccc;}


.working {background-color:#FFF; width:110px; border-style:solid;border-width:1px;color:#000;font-size:22px;font-weight:bold;padding:18px;text-align:center;}
.home_heading {color: #000000; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.resourcesTitle {background:#eeeeee;border:1px solid #ccc;color:#000;font-size: 13px;font-weight:bold; margin:0 0 0 0;}

.nav_top_table {padding:0px 0px 0px 0px; border-top : 1px solid #323F4C; border-bottom : 1px solid #303030; border-right : 1px solid #333;}
.nav_top_title {color: #ffffff; font-size: 19px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.nav_top_links {color: #ffffff; font-size: 11px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; text-align: right;}


.subnav_table {padding:0px 0px 0px 0px; border-top : 1px solid #C0D8E8; border-bottom : 1px solid #284050; border-left : 0px solid Black; background-color:#6699cc;}

.subnav_title {color: #ffffff; font-size: 16px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.subnav_text {color: #ffffff; font-size: 11px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}
.subnav_cell {padding:0px 7px 0px 7px; border-top : 0px solid #ffffff; border-bottom : 0px solid #ffffff; border-left : 1px solid #284050; border-right : 0px solid #ffffff;}
.subnav_link {color: #ffffff; font-size: 11px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}

a:link.subnav_link {text-decoration: none; color: #ffffff;}
a:visited.subnav_link {text-decoration: none; color: #ffffff;}
a:hover.subnav_link {text-decoration: underline; color: #ffffff;}
a:active.subnav_link {text-decoration: none; color: #ffffff;}

a:link.title_link {text-decoration: none; color: #000000;}
a:visited.title_link {text-decoration: none; color: #000000;}
a:hover.title_link {text-decoration: underline; color: #000000;}
a:active.title_link {text-decoration: none; color: #000000;}

.headline_table {padding:0px 0px 0px 0px;  border-bottom : 1px solid #3f3f3f; border-top : 1px solid #878787; border-left : 0px solid #000000;}
.headline_title {color: #ffffff; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.headline_cell {padding:0px 7px 0px 7px; border-top : 0px solid #ffffff; border-bottom : 0px solid #ffffff; border-left : 1px solid #685428; border-right : 0px solid #ffffff; color: #fff; font-size: 11px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}
.headline_text {color: #000000; font-size: 11px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}
.headline_link {color: #fff; font-size: 11px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}


a:link.headline_link {text-decoration: none; color: #ffffff;}
a:visited.headline_link {text-decoration: none; color: #ffffff;}
a:hover.headline_link {text-decoration: underline; color: #ffffff;}
a:active.headline_link {text-decoration: none; color: #ffffff;}

.headline_link_red {color: #fff; font-size: 11px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.headline_link_color {color: #fff; font-size: 11px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
a:link.headline_link_color {text-decoration: none; color: #000000;}
a:visited.headline_link_color {text-decoration: none; color: #000000;}
a:hover.headline_link_color {text-decoration: underline; color: #000000;}
a:active.headline_link_color {text-decoration: none; color: #000000;}

.list_table {color: #000000; font-size: 12px; font-weight: normal; font-family: Arial, Helvetica, sans-serif; background-color:#cccccc;}


.hierarchy_flow {color: #000000; font-size: 12px; font-weight: normal; font-family: Arial, Helvetica, sans-serif; padding:11px 0px 11px 11px; width:300px;}

.hierarchy_flow_cell {background-color:#ffffff; border-top : 1px solid #000000; border-bottom : 1px solid #000000; border-left : 1px solid #000000; border-right : 0px solid #ffffff;}

.hierarchy_info {color: #000000; font-size: 12px; font-weight: normal; font-family: Arial, Helvetica, sans-serif; padding:11px 11px 11px 11px; width:300px;}

.hierarchy_info_cell {background-color:#dedede; border-top : 1px solid #000000; border-bottom : 1px solid #000000; border-left : 0px solid #000000; border-right : 1px solid #000000;}

.hierarchy_info_text {color: #000000; font-size: 12px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}

.hierarchy_1_on {color: #000000; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; padding:0px 7px 0px 7px; background-color:#dedede;}
.hierarchy_1_off {color: #000000; font-size: 12px; font-weight: normal; font-family: Arial, Helvetica, sans-serif; padding:0px 7px 0px 7px;}

.hierarchy_2_on {color: #000000; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; padding:0px 7px 0px 7px; background-color:#dedede;}
.hierarchy_2_off {color: #000000; font-size: 12px; font-weight: normal; font-family: Arial, Helvetica, sans-serif; padding:0px 7px 0px 7px;}

.hierarchy_3_on {color: #000000; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; padding:5px 7px 5px 7px; background-color:#dedede;}
.hierarchy_3_off {color: #000000; font-size: 12px; font-weight: normal; font-family: Arial, Helvetica, sans-serif; padding:0px 7px 0px 7px;}

.menu_box {padding:10px 0px 10px 0px;}
.menu_left {padding:2px 2px 2px 3px;}
.menu_right {padding:2px 2px 2px 0px; font-size: 12px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}
a.menu_right:link {text-decoration: none; color: #336699; font-weight: normal;}
a.menu_right:visited {text-decoration: none; color: #336699; font-weight: normal;}
a.menu_right:hover {text-decoration: underline; color: #336699; font-weight: normal;}
a.menu_right:active {text-decoration: none; color: #336699; font-weight: normal;}

.boxLine {hieght:1px; padding:0px 0px 0px 0px; border-top : 1px solid #cccccc; border-bottom : 0px solid #cccccc; border-right : 1px solid #cccccc; border-left : 1px solid #cccccc;}


.home_title {padding-bottom : 3px; padding-left : 0px; padding-right : 0px; padding-top : 0px; border-top : 0px solid #000000; border-bottom : 1px solid #cccccc; border-right : 0px solid #ffffff; border-left : 0px solid #ffffff; COLOR: #000000; font-weight:bold; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 16px;}
.home_noline {padding-bottom : 3px; padding-left : 0px; padding-right : 0px; padding-top : 0px; border-top : 0px solid #000000; border-bottom : 0px solid #cccccc; border-right : 0px solid #ffffff; border-left : 0px solid #ffffff; COLOR: #000000; font-weight:bold; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 16px;}

.detail_title {padding-bottom : 9px; padding-left : 0px; padding-right : 0px; padding-top : 0px; border-top : 0px solid #000000; border-bottom : 0px solid #ffffff; border-right : 0px solid #ffffff; border-left : 0px solid #ffffff; COLOR: #000000; font-weight:bold; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 16px;}

.detail_head {width: 100px; padding-bottom : 2px; padding-left : 2px; padding-right : 5px; padding-top : 2px; color: #777777; font-size: 11px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}
.detail_custom {width: 125px; padding-bottom : 2px; padding-left : 2px; padding-right : 5px; padding-top : 2px; color: #777777; font-size: 11px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}

.detail_left {background-color:#ededed; padding-bottom : 2px; padding-left : 2px; padding-right : 5px; padding-top : 2px; border-top : 0px solid #000000; border-bottom : 0px solid #ffffff; border-right : 0px solid #ffffff; border-left : 0px solid #ffffff; COLOR: #777777; font-weight:bold; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px; width: 100px;}

.detail_right {background-color:#ffffff; padding-bottom : 2px; padding-left : 5px; padding-right : 2px; padding-top : 2px; border-top : 0px solid #000000; border-bottom : 0px solid #ffffff; border-right : 0px solid #ffffff; border-left : 0px solid #ffffff; COLOR: #000000; font-weight:normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; width: 250px;}
.detail_right_big {background-color:#ffffff; padding-bottom : 2px; padding-left : 5px; padding-right : 2px; padding-top : 2px; border-top : 0px solid #000000; border-bottom : 0px solid #ffffff; border-right : 0px solid #ffffff; border-left : 0px solid #ffffff; COLOR: #000000; font-weight:normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 13px; width: 250px;}

.detail_left_title {background-color:#ffffff; padding-bottom : 3px; padding-left : 2px; padding-right : 5px; padding-top : 8px; border-top : 0px solid #000000; border-bottom : 1px solid #ccc; border-right : 0px solid #ffffff; border-left : 0px solid #ffffff; COLOR: #000000; font-weight:bold; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px; width: 100px;}
.detail_left_notitle {background-color:#ffffff; padding-bottom : 3px; padding-left : 2px; padding-right : 5px; padding-top : 8px; border-top : 0px solid #000000; border-bottom : 1px solid #ccc; border-right : 0px solid #ffffff; border-left : 0px solid #ffffff; COLOR: #000000; font-weight:bold; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px; width: 100px;}
.detail_right_title {background-color:#ffffff; padding-bottom : 3px; padding-left : 5px; padding-right : 2px; padding-top : 8px; border-top : 0px solid #000000; border-bottom : 1px solid #ccc; border-right : 0px solid #ffffff; border-left : 0px solid #ffffff; COLOR: #000000; font-weight:normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; width: 250px;}
.detail_right_notitle {background-color:#ffffff; padding-bottom : 3px; padding-left : 5px; padding-right : 2px; padding-top : 8px; border-top : 0px solid #000000; border-bottom : 1px solid #ccc; border-right : 0px solid #ffffff; border-left : 0px solid #ffffff; COLOR: #000000; font-weight:normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; width: 250px;}

.detail_title_span {COLOR: #000000; font-weight:bold; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 16px;}


.detail_border {background-color:#cccccc;}

.detail_box {background-color:#ffffff; border-top : 1px solid #cccccc; border-bottom : 1px solid #cccccc; border-right : 1px solid #cccccc; border-left : 1px solid #cccccc;}

.detail_box_mod {background-color:#ffffff; border-top : 0px solid #cccccc; border-bottom : 0px solid #cccccc; border-right : 1px solid #cccccc; border-left : 1px solid #cccccc;}

.detail_top {background-color:#ededed; padding-bottom : 3px; padding-left : 3px; padding-right : 3px; padding-top : 3px; border-top : 0px solid #000000; border-bottom : 0px solid #ffffff; border-right : 0px solid #ffffff; border-left : 0px solid #ffffff; COLOR: #777777; font-weight:bold; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px;}

.detail_bot {background-color:#ffffff; padding-bottom : 3px; padding-left : 3px; padding-right : 3px; padding-top : 3px; border-top : 0px solid #000000; border-bottom : 0px solid #ffffff; border-right : 0px solid #ffffff; border-left : 0px solid #ffffff; COLOR: #000000; font-weight:normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px;}

.detail_bot_RO {padding-bottom : 3px; padding-left : 3px; padding-right : 3px; padding-top : 3px; border-top : 0px solid #000000; border-bottom : 0px solid #ffffff; border-right : 0px solid #ffffff; border-left : 0px solid #ffffff; COLOR: #000000; font-weight:normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px;}

.detail_link {background-color:#ffffff; padding-bottom : 3px; padding-left : 3px; padding-right : 3px; padding-top : 3px; border-top : 0px solid #000000; border-bottom : 0px solid #ffffff; border-right : 0px solid #ffffff; border-left : 0px solid #ffffff; COLOR: #000000; font-weight:bold; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px;}

.detail_link_top {color: #000000; font-size: 11px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}

.history_bgcolor {padding-bottom : 3px; padding-left : 3px; padding-right : 3px; padding-top : 3px; border-top : 0px solid #000000; border-bottom : 0px solid #ffffff; border-right : 0px solid #ffffff; border-left : 0px solid #ffffff; COLOR: #000000; font-weight:normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px;}

.contacts_left {background-color:#ededed; padding-bottom : 4px; padding-left : 2px; padding-right : 5px; padding-top : 4px; border-top : 0px solid #000000; border-bottom : 0px solid #ffffff; border-right : 0px solid #ffffff; border-left : 0px solid #ffffff; COLOR: #777777; font-weight:bold; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px; width: 120px;}

.contacts_right {background-color:#ffffff; padding-bottom : 4px; padding-left : 5px; padding-right : 2px; padding-top : 4px; border-top : 0px solid #000000; border-bottom : 0px solid #ffffff; border-right : 0px solid #ffffff; border-left : 0px solid #ffffff; COLOR: #000000; font-weight:normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px;}

.quicklinks {background-color:#ffffff; padding-bottom : 4px; padding-left : 5px; padding-right : 5px; padding-top : 4px; border-top : 1px solid #000000; border-bottom : 0px solid #ffffff; border-right : 0px solid #ffffff; border-left : 0px solid #ffffff; COLOR: #000000; font-weight:normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px;}


.edit_title {padding-bottom : 3px; padding-left : 0px; padding-right : 0px; padding-top : 0px; border-top : 0px solid #000000; border-bottom : 0px solid #000000; border-right : 0px solid #ffffff; border-left : 0px solid #ffffff; COLOR: #000000; font-weight:bold; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 16px;}

.edit_form {border-top : 1px solid #878787; border-bottom : 0px solid #000000; border-right : 0px solid #cccccc; border-left : 0px solid #ffffff;}

.add_form {border-top : 1px solid #878787; border-bottom : 0px solid #878787; border-right : 0px solid #cccccc; border-left : 0px solid #ffffff; color: #000000; font-size: 13px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; padding: 5px 5px 5px 15px; background: #FFFFE6;}

.add_form_text {color: #000000; font-size: 13px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; padding: 5px 5px 5px 15px; background: #FFFFE6;}

.add_form_total {border-top : 1px solid #878787; border-bottom : 1px solid #878787; border-right : 0px solid #cccccc; border-left : 0px solid #ffffff; color: #000000; font-size: 13px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; padding: 8px 5px 8px 15px; background: #E6FFE6;}

.add_form_submit {border-top : 0px solid #878787; border-bottom : 1px solid #878787; border-right : 0px solid #cccccc; border-left : 0px solid #ffffff; color: #000000; font-size: 13px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; padding: 10px 5px 10px 15px; background: #F0DBDB;}

.add_form_product_line {border-top : 0px solid #878787; border-bottom : 1px solid #cccccc; border-right : 0px solid #cccccc; border-left : 0px solid #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal;}

.edit_table {background-color:#ffffff; border-top : 1px solid #000000; border-bottom : 1px solid #000000; border-left : 1px solid #000000; border-right : 1px solid #000000;}
.edit_headline {background-color:#dedede;  border-top : 0px solid #000000; border-bottom : 1px solid #000000; border-left : 0px solid #000000; border-right : 0px solid #000000; color: #000000; font-size: 14px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.edit_headline2 {background-color:#dedede;  border-top : 1px solid #000000; border-bottom : 1px solid #000000; border-left : 0px solid #000000; border-right : 0px solid #000000; color: #000000; font-size: 14px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}

.edit_headline_home {background-color:#ffffff;  border-top : 0px solid #000000; border-bottom : 1px solid #000000; border-left : 0px solid #000000; border-right : 0px solid #000000; color: #000000; font-size: 14px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}

.edit_error {color: #ff0000; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.edit_text {color: #000000; font-size: 12px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}
.edit_field {color: #000000; font-size: 12px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}
.validate_zip {color: #cc0000; font-size: 11px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}


.search_left {padding-bottom : 2px; padding-left : 2px; padding-right : 5px; padding-top : 2px; border-top : 0px solid #000000; border-bottom : 0px solid #ffffff; border-right : 0px solid #ffffff; border-left : 0px solid #ffffff; COLOR: #777777; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px; width:100px;}
.search_label {COLOR: #777777; font-weight:bold; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px;}
.search_right {padding-bottom : 2px; padding-left : 5px; padding-right : 2px; padding-top : 2px; border-top : 0px solid #000000; border-bottom : 0px solid #ffffff; border-right : 0px solid #ffffff; border-left : 0px solid #ffffff; COLOR: #000000; font-weight:normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px;}

.search_fast {
	color: #008000;
	font-weight: bold;
}

.dynamicLinksInput {width:99%; margin:5px 0px; padding : 5px 0 5px 0; color: #787878; font-size: 16px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}
.dynamicLinks {padding:3px 5px 3px 5px; color: #000000; font-size: 13px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}
.quickUpdate {padding:5px 12px 5px 5px; color: #777777; font-size: 11px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.inlineTitle {color: #777777; font-size: 11px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}
.searchTitle {padding:0px 10px 0px 10px;
border-top : 0px solid #000000; border-bottom : 0px solid #ffffff; border-right : 0px solid #ffffff; border-left : 0px solid #ffffff;
COLOR: #343434; font-weight:bold; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 13px;}
.searchClose {padding:0px 10px 0px 10px; font-weight:bold; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px;}


.searchShadow {background:url(/images/checkout/fieldset_bg.gif) top left repeat-x;height:21px;border-top:1px solid #ccc;clear:both;display:block;font-size:13px;font-weight:bold;margin:0 0 0 0;padding:7px 20px 0px 20px;text-align:left;}

#xsnazzy h1, #xsnazzy h2, #xsnazzy p {margin:0 10px; letter-spacing:1px;}
#xsnazzy h1 {font-size:2.5em; color:#fff;}
#xsnazzy h2 {font-size:2em;color:#06a; border:0;}
#xsnazzy p {padding-bottom:0.5em;}
#xsnazzy h2 {padding-top:0.5em;}
#xsnazzy {background: transparent; margin:1em;}

.xtop, .xbottom {display:block; background:transparent; font-size:1px;}
.xb1, .xb2, .xb3, .xb4 {display:block; overflow:hidden;}
.xb1, .xb2, .xb3 {height:1px;}
.xb2, .xb3, .xb4 {background:#ffffcc; border-left:1px solid #cccccc; border-right:1px solid #cccccc;}
.xb1 {margin:0 5px; background:#cccccc;}
.xb2 {margin:0 3px; border-width:0 2px;}
.xb3 {margin:0 2px;}
.xb4 {height:2px; margin:0 1px;}

.xboxcontent {display:block; background:#ffffcc; border:0 solid #cccccc; border-width:0 1px;}




hr.line {width: 100%; color: Black; height: 1px;}

.DateFromTo {color: #787878; font-size: 11px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}
.DateFromTo input{color: #333}

.page_title {color: #000000; font-size: 18px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.page_headline {color: #000000; font-size: 14px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.page_headline_nobold {color: #000000; font-size: 14px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}
.page_text_big {color: #000000; font-size: 13px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}
.page_text {color: #000000; font-size: 12px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}
.page_text_red {color: #cc0000; font-size: 12px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}
.page_text_bold {color: #000000; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.page_text_small {color: #000000; font-size: 11px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}
.page_text_small_bold {color: #000000; font-size: 11px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}

.agenttree {color: #000000; font-size: 14px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}

.DBdate {color: #787878; font-size: 11px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.create {color: #787878; font-size: 11px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.update {color: #787878; font-size: 11px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}

.report_display_table {color: #000000; font-size: 12px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}
.report_display_headline {color: #000000; font-size: 13px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}

hr.title {width: 100%; color: Black; height: 1px;}

.admin_confirmation {color: #ff0000; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.admin_error {color: #ff0000; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}

.badge_standard_name {color: #000000; font-size: 22px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.badge_standard_location {color: #000000; font-size: 16px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}

.ticket_standard_name {color: #000000; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.ticket_standard_text {color: #000000; font-size: 12px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}

.reg_headline {color: #000000; font-size: 14px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.reg_text {color: #000000; font-size: 12px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}
.reg_text_bold {color: #000000; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.reg_text_small {color: #000000; font-size: 11px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}
.reg_text_small_bold {color: #000000; font-size: 11px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.reg_error {color: #000000; font-size: 11px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}

.number {color: #000000; font-size: 14px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}

.form_textbox {background-color:#ffffff; font-weight:bold; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 13px;}
.form_textbox2 {background-color:#ffffff; font-weight:normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px;}
.form_selectbox {background-color:#ffffff; font-weight:normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px;}
.form_button {font-weight:bold; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px;}
.form_button2 {font-weight:normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px;}
.form_button3 {font-weight:bold; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 13px;}

.divon {display:block}
.divoff {display:none}
.divOn {display:block}
.divOff {display:none}

.mat {color:#000000; font-weight:normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px;}
.mat_info {color:#878787; font-weight:normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px;}
.mat_date {color:#878787; font-weight:normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px;}
.mat_edit {font-weight:bold; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px;}
.mat_text {color:#000000; font-weight:normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px;}
.mat_text_label {color:#000000; font-weight:normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px;}

.requiredField {COLOR: #cc0000; font-weight:bold; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; FONT-SIZE: 14px;}

table#calendar tr.home td {
	background-color: #ffffff ;
	color: #3F3F3F ;
	font-size: 12px ;
	text-align: left ;
	padding: 5px 5px 5px 5px ;
	}


.logo
{
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 29px;
    FONT-WEIGHT: bold;
}


.pageTitle
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 19px;
    FONT-WEIGHT: bold;
}


.pageText
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: normal;
}

.pageTextBold
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
}


.pageHeading
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold;
}


.breadcrumbs
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
}


.arrows
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 21px;
    FONT-WEIGHT: bold;
}


.toolbar
{
    COLOR: ffffff;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}

.toolbarSmall
{
    COLOR: ffffff;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}


.date
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
}

.dateNumber
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 16px;
    FONT-WEIGHT: bold;
}


.sectionToolbarCategory
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
}



.sectionToolbarCategoryUnder
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
}


.sideTitle
{
    COLOR: ffffff;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
}

.sideText
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
}


.sideBoxTitle
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
}

.sideBoxText
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
}

.sideTopTitle
{
    COLOR: ffffff;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 18px;
    FONT-WEIGHT: bold;
}

.sideTopSub
{
    COLOR: ffffff;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold;
}

.sideTopText
{
    COLOR: ffffff;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
}

.sideTopLink
{
    COLOR: ffffff;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
}

.orderToolbarNumber
{
    COLOR: 000000;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 17px;
    FONT-WEIGHT: bold;
}

.orderToolbarText
{
    COLOR: ffffff;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
}

.order
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
}


.orderToolbarTitle
{
    COLOR: ffffff;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 15px;
    FONT-WEIGHT: bold;
}


.formName
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
}

.formNameBold
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-WEIGHT: Bold;
}

.formDisclaimer
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
}

.formPurchase
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
}

.formProductColumn
{
    COLOR: ffffff;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
}


.CMShead1
{
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 11px;
	FONT-WEIGHT: normal;
	background-color : dedede;
	text-align : center;
	vertical-align : top;
}

.CMShead2
{
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 11px;
	FONT-WEIGHT: normal;
	background-color : dedede;
	text-align : left;
	vertical-align : top;
}

.CMStext1
{
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 11px;
	FONT-WEIGHT: normal;
	text-align : center;
	vertical-align : top;
}

.CMStext2
{
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 11px;
	FONT-WEIGHT: normal;
	text-align : left;
	vertical-align : top;
}

.footer
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
}

.footerName
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
}


.errorText
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: normal;
}

.textBox {background-color:#ffffff; font-weight:normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px;}

.selectBox {background-color:#ffffff; font-weight:normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px;}
.targetSelectBox {min-width:150px;}
.selectBox2 {background-color:#ffffff; font-weight:normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px;}
.selectBox-list {background-color:#ffffff; font-weight:bold; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 13px;}

.formButton {font-weight:bold; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px;}

br.pagebreak {page-break-before: always}

.divon {background-color:ffffff; visibility:visible; display:Block; position:relative;}
.divoff {background-color:ffffff; visibility:hidden; display:None; position:relative;}

.mat1 {color:#000000; font-weight:normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px;}
.mat2 {color:#000000; font-weight:bold; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px;}
.mat3 {color:#000000; font-weight:bold; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 14px;}
.mat4 {color:#ff0000; font-weight:bold; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px;}
.mat5 {color:#ff0000; font-weight:bold; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 14px;}
.mat6 {color:#000000; font-weight:normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px;}
.mat7 {color:#000000; font-weight:bold; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px;}

.overlay {
  border-width: 0;
  margin: 0;
  padding: 0;
  background:black none repeat scroll 0 0;
  height:2500px;
  left:0;
  filter:alpha(opacity=50);
  opacity: 0.70;
  top:0;
  width:100%;
  z-index:9998;
  position:absolute;
  -moz-background-clip: -moz-initial;
  -moz-background-origin: -moz-initial;
  -moz-background-inline-policy: -moz-initial;
}
.modal{
  position:absolute;
  left:45%;
  top:25%;
  z-index:9999;

}



table th.ui-th-column {
    font-size:0.7em;
}
table.ui-pg-table td {
    border: 1px solid transparent !important;
    font-size:0.7em;
}

table.ui-pg-table td span {
    border: 1px solid transparent !important;
}

table.ui-pg-table input {
    font-size:0.7em;
    height:18px !important;
}

div#srchmodlist td {
    font-size:0.7em !important;
}

div#srchmodlist input#sval,
div#srchmodlist select#sopt {
    width: 12em;
}

div#pager.ui-jqgrid-pager {
    height: 30px !important;
}


div#dashboard {margin-top:10px; margin-left:10px;padding:7px 12px 7px 12px;border:1px solid #ccc;background-color:#eee;width:75%;}
.dashboardForm {padding:6px 10px 0px 10px;}
.dashboardColumn {padding:0px 10px 0px 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px;}
.dashboardColumn A {FONT-SIZE: 13px;FONT-WEIGHT: bold;line-height:23px;}
.dbBlue {color: #336699; font-weight: bold;}


.ui-datepicker-trigger {
	padding: 2px 0 0 5px;
	cursor: pointer;
}

div.clear {
	clear: both;
	display: none;
}

div.sections {
	width: 100%;
	padding-bottom: 10px;
	float: left;
}

div.sections div.inline {
	padding: 0 10px 0 0;
	float: left;
}

div.sections div.inline label {
	float: left;
	margin-right: 14px;
	text-align: left;
	line-height: 20px;
}

.field, .textarea, .select_wrapper, .checkbox_wrapper {
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}

input.field {
	float: left;
	margin: 0;
	border-style: solid;
	border-width: 1px;
	border-color: #8e8e8e #e1e1e1 #e1e1e1 #8e8e8e;
	padding: 2px;
	resize: none;
	width: 200px;
	font: 12px/18px "Trebuchet MS", Calibri, "Lucida Sans", sans-serif;
}

input.field.date {
	width: 75px;
}

.select_wrapper {
	background: url("../images/icons/png/formobjects.png") repeat scroll right 0 #fefefe;
	height: 19px;
	border-color: #8e8e8e #e1e1e1 #e1e1e1 #8e8e8e;
	border-width: 1px;
	border-style: solid;
	float: left;
	margin: 0;
	position: relative;
}

.select_wrapper.error {
	background: url("../images/icons/png/formobjects.png") repeat scroll right -19px #fefefe;
}

.select_wrapper span {
	height: 19px;
	float: left;
	z-index: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
	right: 20px;
	position: absolute;
	overflow: hidden;
	line-height: 19px;
	left: 4px;
}

div.checkbox_wrapper {
	background: url("../images/icons/png/formobjects.png") repeat scroll -19px -38px transparent;
	width: 19px;
	height: 19px;
	float: left;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	border-color: #8e8e8e #e1e1e1 #e1e1e1 #8e8e8e;
}

div.checkbox_wrapper.checked {
	background: url("../images/icons/png/formobjects.png") repeat scroll 0 -38px transparent;
}

div.checkbox_wrapper.error {
	background: url("../images/icons/png/formobjects.png") repeat scroll -38px -38px transparent;
}

input.checkbox {
	opacity: 0;
	z-index: 3;
	position: relative;
	padding: 3px;
	margin: 0;
	cursor: pointer;
	height: 19px;
	width: 19px !important;
}

select.select {
	opacity: 0;
	z-index: 2;
	position: relative;
	padding: 0;
	margin: 0;
	cursor: pointer;
	font: 12px/18px "Trebuchet MS", Calibri, "Lucida Sans", sans-serif;
}

select.select.multiple {
	opacity: 1 !important;
	width: 200px;
}



ul#page-count {
    padding: 0;

}

ul#page-count li {
    display: inline;
    margin-left: 10px;
}

ul#menu li a {
    /*background-color: black;
    color: white;*/
    padding: 10px 20px;
    text-decoration: ;
    border-radius: 4px 4px 0 0;
}

.datePickerField {
	background:url('/images/icons/png/calendar.png') repeat-y right;
	padding-right:20px;
}

.labelMuted {
	color: #777777;
	font-size: .9em;
}

.hintText {
	color: #777777;
	font-size: .85em;
}

.instructionText {
	color: #008040;
}

.justifyLeft {
	text-align: left;
}

.justifyRight {
	text-align: right;
}

.hideElement {
	display: none;
}
body.yui-skin-sam{
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: normal;
}

.yui-skin-sam select{
    line-height: normal;
    background-color: #ffffff;
    font-weight: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
}
.text-small{
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  FONT-SIZE: 11px;
  FONT-WEIGHT: normal;
}


.resultsTable {
	background-color: #ffffff;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
}

.resultsTable th {
	text-align: left;
	font-size: 1.0em;
	font-weight: bold;
	text-decoration: none;
	color: #333333;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	background-color: #f3f3f3;
}

.resultsTable td {
	font-size: 1.0em;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}
form[name="customerList"] select[name="reportId"]{
	max-width: 250px;
}